/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'PT Sans Narrow', sans-serif; */
h1 {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-family: 'Abril Fatface', cursive;
}

h3 {
    font-family: 'Abril Fatface', cursive;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
}

h4 {
    font-family: 'Abril Fatface', cursive;
}

h5 {
    font-family: 'Abril Fatface', cursive;
}

h6 {
    font-family: 'Abril Fatface', cursive;
}

#color-palette {
    color: white;
    border: black 2px;
    padding: 10px;
}

.color-1 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #AD4991;
}

.color-2 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #FAEC9B;
}

.color-3 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #FA82D8;
}

.color-4 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #69F7FA;
}

.color-5 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #51ACAD;
}
