h1 {
    font-size: 36px;
    color: #779CA6;
    font-family: 'Antic', sans-serif;
    display: inline;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
}

img {
    width: 300px;
}
