body {
    width: 100%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-flow: row;
    text-align: center;
}

header {
    color: #779CA6;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.name {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-family: 'Antic', sans-serif;
}

.head-links {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    font-size: 30px;
    font-family: 'Antic', sans-serif;
    color: #779CA6;
    gap: 15px;
}

a {
    color: #779CA6;
}

a:visited {
    color: #779CA6;
}

img {
    width: 100%;
    margin: 0 auto;
}

.intro {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #A69C77
}

h1.passionate-about-title {
    text-align: center;
    font-size: 55px;
    font-family: 'Antic', sans-serif;
    color: #779CA6;
}

.passionate-about {
    font-size: 30px;
    font-family: 'Antic', sans-serif;
    color: #779CA6;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    flex-direction: row;
    margin-bottom: 15px;
    gap: 10px;
}

/*Resume Page*/

















/* DESKTOP FIRST APPROACH */

/* Small devices (portrait tablets and large phones, up to 768px) */
@media only screen and (max-width: 768px){
    img {
        width: 100%;
        margin: 20px auto;
    }

    .head-links {
        display: flex;
        flex-direction: column;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img {
        width: 100%;
        margin: 20px auto;
    }

    .head-links {
        display: flex;
        flex-direction: column;
    }
}
