/*font-family: 'Antic', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
h1 {
    font-family: 'Antic', sans-serif;
}

h2 {
    font-family: 'Antic', sans-serif;
}

h3 {
    font-family: 'Antic', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-family: 'Antic', sans-serif;
}

h5 {
    font-family: 'Antic', sans-serif;
}

h6 {
    font-family: 'Antic', sans-serif;
}

#color-palette {
    color: white;
    border: black 2px;
    padding: 10px;
}

.color-1 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #A69C77;
}

.color-2 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #F2EBD3;
}

.color-3 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #F2C7E4;
}

.color-4 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #779CA6;
}

.color-5 {
    display: inline-block;
    height:150px;
    width: 150px;
    background-color: #B3E6F3;
}

img {
    margin: 15px;
    width: 300px;
}
